.card-container {
    border: 2px solid black;
    padding: 122px 0px;
}

.card-title {
    text-transform: uppercase;
}

.action-button {
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
}

.score {
    font-size: 70px;
}